@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

:root {
    --iriscolor: #4d5ae5;
    --navyblue: #2e2f42;
    --navcolor: #434455;
    --oceancolor: #404BBF;
    --whitecolor: #FFFFFF;
    --slatecolor: #434455;
    --ghostwhite: #f4f4fd;
}

.logo-nav {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iriscolor);
    text-decoration: none;

}
.logo-nav {
    margin-right: 76px;
}

.headerhead {
    border-bottom: 1px solid #e7e9fc;
    background: white;
}

.main-header-container {
    display: flex;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
} 

.link-style-link {
    padding: 24px 0;
    text-decoration: none;
}


.liststyle {
    display: flex;
    align-items: center
}

.bg-sectionone {
    padding: 188px 0;
}

.one-title {
    max-width: 496px;
}
.btn {
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    display: block;
}

.sectiontwo {
    padding: 120px 0; 
    display: flex;
    
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    outline: 0;
    outline-offset: 0;
}

.titlelist {
    gap: 24px;
    width: calc((100% - 72px) / 4);
    bottom: 8px;
}
/* section 2 css*/
.makabuang {
    width: calc((100% - 72px) / 4);
}

.listlist {
    list-style: none;
    display:flex;
    gap: 24px;
}

.titlelist {
    margin-bottom: 8px;
}


/*section threee*/

.sectionthree {
    padding-bottom: 120px;
}



.link {
    text-decoration: none;
}

.inside-logo {
    color: #2e2f42;
}

.link-style {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #2e2f42; 
}

.listk {
    display: flex;
    gap: 40px;
    list-style: none;
}

.link-style:hover {
    color: #404bbf;
}

.link-style:focus {
    color: #404bbf;
}


.contacts-color:hover {
    color: #404bbf;
}

.contacts-color:focus {
    color: #404bbf;
}

.contacts-color {
    color: #434455;
}

.address-style {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list {
    list-style: none;
}


body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}


.address-list {
    text-decoration: none;
}

.listinfo {
    display: flex;
    gap: 40px;
}
.address-list:hover {
    color: #404bbf;
}

.address-list:focus {
    color: #404bbf;
}

/*section 1 class */

.bg-sectionone {
    background-color: var(--navyblue);
}

.one-title {
    color: var(--whitecolor);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.btn {
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.btn.primary:hover,
.btn.primary:focus {
    background-color: #404BBF;
}

.btn {
    cursor: pointer;
}

/* sectin  2*/

.titlelist {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.desclist {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* section 3 */

.section-three {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.section-three {
    margin-bottom: 72px;
}

.listtwotwo {
    list-style: none;
    display: flex;
    gap: 24px;
}
.sectionthree-pics {
    width: calc((100% - 48px) / 3);

}
/* section4*/
.pictures {
    padding: 120px 0;
}

.section-four {
    margin-bottom: 72px;
}

.listthree {
    list-style: none;
    gap: 24px;
    display: flex;
    border-radius: (0px 0px 4px 4px);
}

.employee-bg {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;   
}

.second-container {
    padding: 32px 0;  
}

.team-name {
    text-align: center;
    margin-bottom: 8px;
}

.description {
    text-align: center;
}

.headerhead {
    border-bottom: 1px solid #e7e9fc;
}

/* footer */

.lastpart-footerbg {
    padding: 100px 0;
        
}

.footerlink{
    display: inline-block;
    margin-bottom: 16px;
}

.lastword {
    max-width: 264px;
}

/* PORTFOLIO */

.headfirst {
    border-bottom: 1px solid #e7e9fc;
}


.port-container {
    display: flex;
}

.navnav {
    display: flex;
    align-items: center
}

.link-style {
    padding: 24px 0;
}

/* section */

.sectionsection {
    padding-top: 96px;
    padding-bottom: 120px;
}

.listport {
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    list-style: none;
    display: flex;
}

.pbutton {
    padding: 12px 24px;
    border: 1px solid #e7e9fc; 
    border-radius: 4px;
}

.pbutton:hover {
    border: 1px solid transparent; 
}

.pbutton:focus {
    border: 1px solid transparent;
}

.listporttwo {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;    
}


.listfirst {
    width: calc((100% - 48px) / 3);
}

.firstlist {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* .ayinday {
    display: inline-block;
    gap: 40px;
    list-style: none;
} */








.pictures {
    background-color: #F4F4FD;
}

.section-four {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    background-color: #FFFFFF;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.employee-bg {
    background-color: #FFFFFF;
}

.description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* footer */

.lastpart-footerbg {
    background-color: #2e2f42;
}

.lastword {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.footerinside-logo {
    color: #f4f4fd;
}

/* porfolio */





.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    color: #F4F4FD;
    cursor: pointer;
}

.pbutton {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
}

.pbutton:hover {
    color: #FFFFFF;
}

.pbutton:focus {
    color: #FFFFFF;
}

.pbutton:hover {
    background-color: hsl(235, 50%, 50%);
}

.pbutton:focus {
    background-color: #404BBF;
}

.picture {
    text-decoration: none;
}

.parentlist {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.childlist {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



.list {
    text-decoration: none;
    list-style: none;
}


